@charset "utf-8";
/*banner*/
/*#banner {*/
    /*float: left;*/
    /*margin-left: 10px;*/
/*}*/
#banner {
    width: 500px;
    height: 260px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
}

#banner img {
    width: 500px;
    height: 260px;
    display: block;
}

.bgRed{
    background: red;
}
.bgGreen{
    background: green;
}
.bgPink{
    background: pink;
}