body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

/*头部*/
#top {
    width: 100%;
    height: 27px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
}

#top_1 {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.hello {
    float: left;
    color: #444444;
    padding-top: 8px;
}

.menu {
    float: right;
    padding-top: 8px;
}

.menu a:link, .menu a:visited {
    color: #444444;
    text-decoration: none;
}

.menu a:hover {
    color: #444444;
    text-decoration: underline;
}

#head {
    width: 970px;
    margin: 0 auto;
    height: 98px;
    clear: both;
}

.logo {
    width: 209px;
    float: left;
}

/*搜索*/
#search {
    width: 528px;
    height: 40px;
    margin-top: 29px;
    float: right;
    border: 1px solid #c9c9c9;
    background: url(../images/search_bg.jpg) no-repeat;
}

#search form {
    margin: 0px;
    padding: 0px;
}

#search form input.text {
    border: 1px solid #a6a6a6;
    width: 415px;
    height: 20px;
    margin: 5px 0px 0px 4px;
    padding: 8px 0px 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6a6a6a;
    float: left;
}

#search form input.btn {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    width: 99px;
    height: 30px;
    background: url(../images/search_btn.jpg) no-repeat;
    border: none;
    text-indent: -9999px;
    float: left;
    cursor: pointer;
}

/*导航条*/
#nav {
    width: 970px;
    height: 27px;
    margin: 0 auto;
    border-bottom: 2px solid #0266a3;
}

#nav ul li {
    margin: 0px;
    padding: 0px;
    float: left;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

#nav ul li a {
    display: block;
    margin: 0px 20px 0px 0px;
    padding: 5px 12px 6px 12px;
}

#nav li a:link, #nav li a:visited {
    color: #306bae;
    text-decoration: none;
}

#nav li a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0266a3;
}

#nav ul li a.index:link, #nav ul li a.index:visited {
    background-color: #0266a3;
    color: #FFFFFF;
}

/*第一块*/
#main_1 {
    width: 970px;
    height: 210px;
    margin: 10px auto 0 auto;
}

#main_2 {
    width: 970px;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

#market2 {
    width: 200px;
    height: 210px;
    float: left;
}

#market {
    width: 200px;
    height: 210px;
    float: left;
}

.shangji {
    width: 180px;
    height: 23px;
    background-color: #0266a3;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 7px 0px 0px 20px;
}

#nav_1 {
    width: 200px;
    height: 180px;
    background-color: #ebf0f6;
    text-align: left;
}

#nav_1 ul li {
    margin: 0px;
    padding: 11px 0px 0px 0px;
    font-size: 14px;
}

#nav_1 ul li a {
    display: inline-block;
    margin: 0px 0px 0px 42px;
    padding: 0px;
}

#nav_1 li a:link, #nav_1 li a:visited {
    color: #606060;
    text-decoration: none;
}

#nav_1 li a:hover {
    color: #4199cf;
    text-decoration: none;
}

.a {
    background: url(../images/01.jpg) no-repeat 10px 11px;
}

.b {
    background: url(../images/02.jpg) no-repeat 8px 11px;
}

.c {
    background: url(../images/03.jpg) no-repeat 8px 11px;
}

.d {
    background: url(../images/04.jpg) no-repeat 5px 11px;
}

.e {
    background: url(../images/05.jpg) no-repeat 10px 11px;
}

.f {
    background: url(../images/06.jpg) no-repeat 7px 10px;
}

/*banner*/
#banner {
    float: left;
    margin-left: 10px;
}

/*gao*/
#gao {
    width: 230px;
    height: 95px;
    float: right;
    background: url(../images/gao.jpg) no-repeat;
}

.gao_1 {
    margin: 10px 0px 0px 15px;
    font-weight: bold;
    color: #666666;
    text-align: left;
}

.gao_2 {
    width: 160px;
    margin: 15px 0px 0px 60px;
    color: #666666;
    text-align: left;
    line-height: 20px;
}

#gao_3 {
    width: 230px;
    height: 105px;
    margin-top: 10px;
    background-color: #f7f7f7;
    float: right;
}

.gao_4 {
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", Calibri, Arial, Helvetica, sans-serif;
    color: #999999;
    font-size: 16px;
    margin-top: 15px;
}

.gao_5 {
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", Calibri, Arial, Helvetica, sans-serif;
    color: #6ab2e6;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.gao_6 {
    margin-top: 5px;
}

#jzcl {
    margin: 0px auto;
    padding: 0px;
    width: 970px;
}

#jc {
    margin: 15px 0px 0px 0px;
    padding: 10px 0px 0px 20px;
    height: 36px;
    background: url(../images/jc.jpg) repeat-x;
    text-align: left;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
}

#jc_left {
    margin: 3px 0px;
    padding: 0px;
    width: 720px;
    height: 349px;
    float: left;
    border: 1px solid #CCCCCC;
    text-align: left;
}

#jc_left_1 {
    margin: 17px 0px;
    _margin: 10px 0px;
    width: 350px;
    height: 131px;
    _height: 168px;
    float: left
}

#jc_left_1_2 {
    margin: 8px 0px 0px 20px;
    padding: 0px;
    float: left;
    line-height: 22px;
    color: #333333;
}

#jc_right {
    margin: 3px 0px;
    padding: 0px;
    width: 230px;
    height: 349px;
    float: right;
    border: 1px solid #CCCCCC;
    text-align: left;
}

#jc_right ul {
    margin: 10px 0px;
    padding: 0px;
    list-style: none;
}

#jc_right ul li {
    margin: 0px 0 0 10px;
    padding: 5px 0px 0px 10px;
    _padding: 8px 0px 0px 10px;
    background: url(../images/dot.jpg) 0 10px no-repeat;
}

#jc_right li a:link, #jc_right li a:visited {
    color: #606060;
    text-decoration: none;
}

#jc_right li a:hover {
    color: #4199cf;
    text-decoration: none;
}

#jc_zx {
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    color: #666666
}

#list {
    margin: 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    color: #666666;
}

#market1 {
    width: 200px;
    height: 210px;
}

#market {
    width: 200px;
    height: 500px;
    float: left;
}

#list1 {
    margin: 10px 0px;
    padding: 0px;
    width: 198px;
    border: 1px solid #CCCCCC;
    text-align: left;
}

#list1 ul {
    margin: 10px 0px;
    padding: 0px;
    list-style: none;
}

#list1 ul li {
    margin: 0px 0 0 10px;
    padding: 5px 0px 0px 10px;
    _padding: 8px 0px 0px 10px;
    background: url(../images/dot.jpg) 0 10px no-repeat;
}

#list1 li a:link, #list1 li a:visited {
    color: #606060;
    text-decoration: none;
}

#list1 li a:hover {
    color: #4199cf;
    text-decoration: none;
}

#right {
    float: right;
    margin: 0px auto;
    padding: 0px 20px 0 20px;
    width: 708px;
    border: 1px solid #CCCCCC;
    text-align: left;
    color: #666666;
    line-height: 30px;
    font-size: 14px;
}

#zy {
    margin: 0px auto;
    padding: 0px;
    width: 970px;
}

#zy1 {
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 20px;
    height: 36px;
    background: url(../images/jc.jpg) repeat-x;
    text-align: left;
    font-weight: bold;
    color: #666666;
    font-size: 14px;
}

#zy_left {
    margin: 3px 0px;
    padding: 0px;
    width: 720px;
    height: 300px;
    float: left;
    border: 1px solid #CCCCCC;
    text-align: left;
}

#zy_right {
    margin: 3px 0px;
    padding: 0px;
    width: 230px;
    height: 300px;
    float: right;
}

#zy2 {
    margin: 10px 0px 10px 13px;
    _margin: 10px 0px 10px 10px;
    width: 163px;
    height: 300px;
    float: left;
    text-align: center;
    line-height: 20px;
}

#aa {
    text-align: left;
    width: 970px;
    margin: 10px 0 10px 0px;
}

#aa a:link, #aa a:visited {
    color: #606060;
    text-decoration: none;
}

#eaa a:hover {
    color: #4199cf;
    text-decoration: none;
}

#link {
    margin: 10px auto;
    padding: 10px 0px;
    border-top: 1px solid #CCCCCC;
    width: 970px;
    height: 10px;
}

#link ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#link ul li {
    margin: 0px;
    padding: 0px 10px 0px 0px;
    float: left;
}

#link li a:link, #link li a:visited {
    color: #606060;
    text-decoration: none;
}

#link li a:hover {
    color: #4199cf;
    text-decoration: none;
}

#footer {
    margin: 10px auto;
    padding: 10px 0px;
    background: url(../images/bg.jpg) repeat-x;
    height: 10px;
    width: 970px;
    color: #666666;
    line-height: 22px;
}

#footer a:link, #footer a:visited {
    color: #606060;
    text-decoration: none;
}

#footer a:hover {
    color: #4199cf;
    text-decoration: none;
}

.content {
    font-family: microsoft yahei, arial;
    font-size: 14px;
    color: #a0a0a0;
    margin-top: 10px;
    line-height: 32px;
    overflow: hidden;
}

.content img {
    margin: 10px 0px
}

.content table td {
    border: 1px solid #e39936;
    padding: 10px
}

.content table tr {
    height: auto !important
}

.content table td {
    height: auto !important
}






