@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input{
    outline: none;
}
textarea{
    resize: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1
}

body {
    background-color: #f3f5f7;
}

.wrap1200 {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 42px;
    margin: 30px auto;
    background-color: transparent;
}

.logo {
    float: left;
    margin-right: 60px;
}

.nav {
    float: left;
}

/*.header ul {*/
/*float: left;*/
/*}*/

.header ul li {
    float: left;
}

.header li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: black;
    padding: 0 10px;
}

.header li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 340px;
    height: 40px;
    padding-left: 20px;
    color: gray;
    border: 1px solid #00a4ff;
}

.search button {
    float: left;
    height: 42px;
    width: 50px;
    background: url("../images/ic_xue_search.png") no-repeat;
}

.user {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 30px;
}

.user img {

}

/**/
/**/
/**/
/**/
.banner {
    height: 420px;
    background: #1c036c url(../images/img_xue_banner.png) no-repeat top center;
}

.subnav {
    float: left;
    height: 380px;
    width: 190px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .2);
}

.subnav ul {

}

.subnav li {
    height: 45px;
    line-height: 45px;
}

.subnav li a {
    color: white;
    font-size: 14px;
}

.subnav li a:hover {
    color: #00a4ff;
}

.subnav li a span {
    float: right;
}

.course {
    float: right;
    width: 228px;
    height: 300px;
    margin-top: 50px;
    background-color: white;
}

.course_hd {
    height: 48px;
    line-height: 48px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #00a4ff;
}

.course_bd {
    padding: 0px 15px;
}

.course_bd ul {
    padding-top: 10px;
}

.course_bd li {
    margin-bottom: 10px;
    height: 50px;
    border-bottom:  1px solid gray;
}

.course_bd li a {
    color: gray;
    font-size: 12px;
}

.course_bd li a:hover {

}
.course_bd li h4{
    color: black;
    font-size: 14px;
}
.all{
    display: inline-block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}
.all:hover{
    background-color: #00a4ff;
    color: white;
}
/**/
/**/
/**/
/**/
.goods{
    background-color: white;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.goods h3{
    float: left;
    margin:0  30px;
    color: #00a4ff;
    font-size: 16px;
}
.goods_item{
    float: left;
}
.goods_item ul{

}
.goods_item li {
    float: left;
}
.goods_item li a {
    margin: 0 30px;
    color: black;
    font-size: 16px;
}
.goods_item li a:hover{

}
.modify{
    float: right;
    margin-right: 30px;
    color: #00a4ff;
}
/**/
/**/
/**/
/**/
.box{
    margin-top: 15px;
    background-color: white;
}
.box_hd{
    height: 60px;
    line-height: 60px;
}
.box_hd h3{
    float: left;
    margin-left: 30px;
    font-size: 20px;
    color: gray;
    font-weight: 400;
}
.box_hd a{
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: gray;
}
.box_bd{
    width: 1300px;
}
.box_bd ul{

}
.box_bd li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.box_bd li img{
    width: 228px;
}
.box_bd li h4{
    font-size: 12px;
    font-weight: 400;
    margin: 15px 20px;
}
.box_bd li p{
    text-align: center;
}
.box_bd li span{
    color: #00a4ff;
}
/**/
/**/
/**/
/**/
.footer{
    height: 385px;
    padding-top: 30px;
    background-color: pink;
}
.footer_content{

}
.copyright{
    float: left;
}
.copyright a{
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}
.links{
    float: right;
}
.links dl{
    float: left;
}