@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1
}

body{
    background-color: #f2f4f5;
}

.wrap1200 {
    width: 1200px;
}

.header {
    height: 30px;
}

.headcontent {
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
}
.headright{
    float: right;
}
.headright a{
    color: #333;
    margin-left: 30px;
    font-size: 12px;
}
.headright select{
    margin-left: 30px;
    border: none;
    list-style: none;
    background-color: transparent;
}
.headright a:hover{
    color: orange;
}

/*nav模块start*/
/*nav模块start*/
/*nav模块start*/
/*nav模块start*/
.nav{
    padding: 40px 0px;
    background-color: white;
}
.navcontent{
    height: 43px;
    margin: 0px auto;
    background-color: pink;
}
.navcontent img{
    float: left;
}
.search{
    height: 38px;
    float: left;
}
.search input{
    height: 38px;
    float: left;
}
.search button{
    float: left;
}